#root {
  height: 100vh;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.map-container {
  margin: 1rem;
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
